In [1]:
import pandas as pd

df = pd.read_csv("../results/cell_type_reference_from_panglao_to_wikidata_31_10_2020.csv")

In [2]:
alias_en = df["panglao"]

alias_en = ["human " + alias for alias in alias_en]

alias_en = [alias.lower() for alias in alias_en]


label_en = alias_en

replacements = {
    "cells" : "cell",
    "neurons" : "neuron",
    "cytes" : "cyte",
    "lasts" : "last",
    "elets" : "elet",
    "phils" : "phil"
}

for replacement in replacements:
    label_en = [label.replace(replacement, replacements[replacement]) for label in label_en]
    
df["Len"] = label_en
df["Aen"] = alias_en

In [3]:
df["Den"] = "cell type of Homo sapiens"

df["Dpt"] = "tipo de célula de Homo sapiens"

df["P361"] = df["wikidata"]

df["P703"] = "Q15978631" # found in human
df["P31"] = "Q189118" # instance of cell type

In [4]:
df = df.drop(["wikidata", "panglao"], axis=1)
df = df.dropna()
df.head()

,Unnamed: 0,Len,Aen,Den,Dpt,P361,P703,P31
0,0,human basal cell,human basal cells,cell type of Homo sapiens,tipo de célula de Homo sapiens,Q101062513,Q15978631,Q189118
1,1,human trigeminal neuron,human trigeminal neurons,cell type of Homo sapiens,tipo de célula de Homo sapiens,Q101062590,Q15978631,Q189118
2,2,human juxtaglomerular cell,human juxtaglomerular cells,cell type of Homo sapiens,tipo de célula de Homo sapiens,Q2596226,Q15978631,Q189118
3,3,human pancreatic stellate cell,human pancreatic stellate cells,cell type of Homo sapiens,tipo de célula de Homo sapiens,Q1164962,Q15978631,Q189118
4,4,human fibroblast,human fibroblasts,cell type of Homo sapiens,tipo de célula de Homo sapiens,Q463418,Q15978631,Q189118

In [5]:
df.to_csv("../data/human_cell_types_to_add_08_11_2020.csv", index=False )

In [6]:
with open("../quickstatements/add__human_cell_types_08_11_2020.qs", "w+") as qs:

    for i, row in df.iterrows():

        s = "LAST"

        Len = s + "|Len|" + '"' + row["Len"] + '"' + "\n"
        Den = s +"|Den|" + '"' + row["Den"] + '"' + "\n"
        Dpt = s +"|Dpt|" + '"' + row["Dpt"] + '"' + "\n"
        Aen = s +"|Aen|" + '"' + row["Aen"] + '"' + "\n"
        P31 = s + "|P31|" + row["P31"] + "|S248|" + "Q99936939" +   "\n" 
        P703 = s + "|P703|" + row["P703"] + "\n"
        P361 = s + "|P361|" + row["P361"] + "\n"

        qs.write('CREATE \n')
        qs.write(Len)
        qs.write(Den)
        qs.write(Dpt)
        qs.write(Aen)
        qs.write(P31)
        qs.write(P703)
        qs.write(P361)
        qs.write('\n')

Added to Wikidata via Quickstatements in 
[Batch #45262
"human cell types"
on Wikidata
by TiagoLubiana](https://quickstatements.toolforge.org/#/batch/45262)

There was a typo so I'll have to fix it.

In [7]:
from wikidata2df import wikidata2df

# A SPARQL query to return all cats in Wikidata!

query = """
SELECT ?item ?itemLabel
WHERE
{
?item wdt:P31 wd:Q18911.
SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
}
"""

dataframe_to_fix = wikidata2df(query) # Returns a Pandas DataFrame

In [8]:
dataframe_to_fix

           item                                itemLabel
0    Q101404853                         human basal cell
1    Q101404857                  human trigeminal neuron
2    Q101404858               human juxtaglomerular cell
3    Q101404859           human pancreatic stellate cell
4    Q101404861                         human fibroblast
..          ...                                      ...
183  Q101405209  human peripheral blood mononuclear cell
184  Q101405210                         human theca cell
185  Q101405212                        human granulocyte
186  Q101405213            human retinal epithelial cell
187  Q101405214               human cortical interneuron

[188 rows x 2 columns]

In [12]:
with open("../quickstatements/typo_correction_08_11_2020.qs", "w+") as qs:


    for i, row in dataframe_to_fix.iterrows():
        s = row["item"]
        P31_old = s + "|P31|" + "Q18911" + "|S248|" + "Q99936939" +   "\n"
        P31_new = s + "|P31|" + "Q189118" + "|S248|" + "Q99936939" +   "\n" 

        qs.write("-" + P31_old)
        qs.write(P31_new)